.controls,
.counters {
    --blur: 10px;
    left: 50%;
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: .9vh 1.3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 100px;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    transform: translateX(-50%);
    box-shadow: 0 0 30px #151515;
    z-index: 999;
}

.controls {
    top: 2vh;
}

.controls img {
    filter: invert(100%) drop-shadow(0 0 10px black);
}

.controls img:hover,
.controls img:focus {
    cursor: pointer;
    filter: invert(41%) sepia(85%) saturate(500%) hue-rotate(212deg) brightness(131%) contrast(96%);
}

.counters {
    bottom: 0;
}

.wrapper {
    --cell-size: 70px;
    --offset: 15vh;
    --gap: 8px;
    width: 100%;
    height: fit-content;
    max-height: 100%;
    margin: auto;
    padding: var(--offset) 0 calc(2*var(--offset)) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: var(--gap);
    mask-image: linear-gradient(to bottom, transparent, black 7% 93%, transparent);
    overflow-y: auto;
}
.wrapper::-webkit-scrollbar {
    display: none;
}

.row {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: var(--gap);
    overflow: visible;
}

.cell {
    position: relative;
    width: var(--cell-size);
    height: var(--cell-size);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 2px red; */
}

.cell img {
    --size: 180%;
    pointer-events: none;
    top: 50%;
    left: 50%;
    position: absolute;
    width: var(--size);
    height: var(--size);
    transform: translate(-50%,-50%);
    z-index: 0;
}

.cell p {
    color: rgba(0,0,0,1);
    font-size: 1.2em;
    z-index: 1;
}

.crossed {
    pointer-events: none;
}

.how_to_deal_animation {
    bottom: 20vh;
    right: 20vh;
    position: absolute;
}